@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Space+Grotesk:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
   background-image: linear-gradient(to left, #8b6cb4, #70619d, #585585, #45486c, #353b53, #333e53, #324152, #334351, #3b5967, #44707c, #4e878e, #5e9f9c);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(170, 164, 164);
  z-index: 2;
  backdrop-filter: blur(1rem);
}
.sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  max-width: 4rem;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px;
  overflow: hidden;
}
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.socials > a {
  background: rgb(40, 39, 39);
  padding: 10px;
  border-radius: 5px;
}
.socials > a > i {
  color: white;
}
.socials > a:hover {
  background: linear-gradient(to right, rgb(53, 77, 77), rgb(31, 68, 68));
  cursor: pointer;
}
.logo {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 3px solid #FF004D;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
li {
  list-style: none;
}
a {
  font-size: 18px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
  padding: 5px;
  border-bottom: 1px solid transparent;
  transition: all 1s ease-in-out;
}
li > a:hover {
  border-bottom: 1px solid aqua;
}
.body {
  /* margin: 10rem 0 0 0; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: beige;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.btn {
  text-align: center;
  background: transparent;
  border: 2px solid white;
  box-shadow: 2px 2px 2px gray;
  border-radius: 3px;
  font-weight: 500;
  max-width: 8rem;
  width: 100%;
  padding: 8px;
  transition: all 1s ease-in-out;
}
.btn:hover {
  transform: scale(1.09);
  box-shadow: 3px 3px 2px white;
  border: 2px solid aqua;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.content p {
  font-size: 18px;
  opacity: 40%;
}
.content h1 span {
  color: aqua;
}
.img {
  display: grid;
  place-items: center;
  border-radius: 50%;
   
}
.img > img {
  max-width: 10rem;
  width: 100%;
  height: 10rem;
  border-radius: 50%;
  border: 5px solid transparent; 
  animation: Imgborder 5s infinite linear;
}
@keyframes Imgborder {
0% {
  border-color: #4CB9E7;
}
25% {
  border-color: #E26EE5;
}
50% {
  border-color: #FFB534;
}
75% {
  border-color: green;
}
100% {
  border-color: red;
}
}
.container {
  margin: 10rem 0 0 5rem;
}
/* skills sections */
.skill-head {
  color: white;
  border-bottom: 2px solid #ee7214;
  max-width:4rem;
  width: 100%;
  border-width: 6px;
  margin: 1rem 0;
}
.light {
  color: white;
  opacity: 50%;
}
.skill-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  margin: 1rem 0;
  padding: 8px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 8rem;
  width: 100%;
  max-height: 18rem;
  height: 100%;
  border-radius: 4px;
  border:none;
  box-shadow: 2px 2px 2px 2px #80BCBD;
  transition: all .8s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
}
.card > i {
  font-size: 7rem;
  padding: 1rem;
}
  @media screen and (max-width: 769px) {
    
    body {
      background-image: linear-gradient(to left, #8b6cb4, #70619d, #585585, #45486c, #353b53, #333e53, #324152, #334351, #3b5967, #44707c, #4e878e, #5e9f9c);
      color: white;
    }
    header {
      position: fixed;
      top:0.8rem;
      display: flex;
      justify-content:center;
      max-width: 70%;
      width: 100%;
      margin: 0 20%; 
      border-radius: 4px;
      border: none;
      box-shadow: 2px 2px 2px 3px #FFE5E5;
      background-image: linear-gradient(to right top, #b5d18c, #dcbc7e, #f1a88d, #ed9bac, #ce9bc9);
      backdrop-filter: blur(1rem);
    }

  .logo{
    display:none;
  }
  .links > li >a{
    font-size: 17px;
  }
    .links {
      gap: .5rem;
    }
    .content > h1{
      font-size: 20px;
    }
    .content > p{
      font-size: 12px;
    }
  .skill-cards{
   /* margin: .7rem 0; */
    margin: .5rem ;
      gap: 2rem;
      padding: 8px;
    }
    .sidebar::before{
      content:"Social Links";
      position: relative;
     left: 0;
      margin:0 .5rem;
      color:#9EC8B9;
        border-right: 3px solid red;
      border-left: 3px solid red;
      padding: 4px;
      
    }
    .sidebar {
      display: flex;
      flex-direction: row ;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      width: 100%;
      max-height: 2.5rem;
      height: 100%;
      position: absolute;
      top: 6rem;
      backdrop-filter: blur(1rem);
     box-shadow:none;
      z-index: -1;
    }

    .socials{
      padding: 5px;
      flex-direction:row;
    }
    .socials > a {
      background: rgb(40, 39, 39);
      padding: 5px;
      border-radius: 2px;
    }
  li > a:hover {
    border-bottom: 1px solid #242e2e;
  }
    .card {   
      gap: 2rem;
      max-width: 5rem;
      width: 100%;
      max-height: 10rem;
      height: 100%;
      border-radius: 3px;
      box-shadow:2px 2px 5px white;
     
    }
    .card > i {
      font-size: 4rem;
      padding: 1rem;
    }
    .btn {
      border-radius: 2px;
      font-weight: 400;
      max-width: 5rem;
      width: 100%;
      padding: 4px;
      
    }
    .container {
      margin: 10rem 0 0 0;
      padding: 10px;
    }
}
